/*  CSS category State    */ /*  color display font visibility ...  */
  .review-stars {
    background: url('../../media/global/images/sprites/review-stars-sprite.png') no-repeat;
    height: 18px;
    margin: 5px auto 0 auto;
    width: 92px;
  }
  .half-star {background-position: 0 -18px;}
  .one-star {background-position: 0 -36px;}
  .one-half-star {background-position: 0 -54px;}
  .two-star {background-position: 0 -72px;}
  .two-half-star {background-position: 0 -90px;}
  .three-star {background-position: 0 -108px;}
  .three-half-star {background-position: 0 -126px;}
  .four-star {background-position: 0 -144px;}
  .four-half-star {background-position: 0 -162px;}
  .five-star {background-position: 0 -180px;}

/*  CSS category Theme    */ /*  color background hover ...  */
  body[data-brand="lsc"] .crdPrd .crdPrd--pic { background-color: #FFFAFF; }
  body[data-brand="ltd"] .crdPrd .crdPrd--pic { background-color: #F2FAFF; }
