/*  CSS category State    */ /*  color display font visibility ...  */
  .review-stars {
    background: url('../../media/global/images/sprites/review-stars-sprite.png') no-repeat;
  }

/*  CSS category Theme    */ /*  color background hover ...  */
  body[data-brand="lsc"] .crdPrd .crdPrd--pic { background-color: #FFFAFF; }
  body[data-brand="ltd"] .crdPrd .crdPrd--pic { background-color: #F2FAFF; }
