@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

  .typhead {
    width: 400px !important;
    padding: 2px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #AAA !important;
    -webkit-transition: -webkit-transform .15s linear !important;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25) !important;
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25) !important;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5) !important;
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5) !important;    
  }
  .typhead .typhead--ul {
      margin: 6px 0 !important;
      padding: 0 14px !important;
  }
  .typhead .typhead--ul:hover {}
  .typhead .typhead--li {
    background-color:  #FFFAFF !important;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: .9em !important;
    font-weight: 300 !important;
    line-height: 1.4 !important;
    cursor: pointer !important; 
    margin-left: 8px !important;
  }
.typhead .typhead--li:hover {
  background-color:  #FFFAFF !important;
}
  .typhead .typhead--li__cap {
    font-size: 1.2em !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
    color: #7D2A35 !important;
    cursor: default !important;
    margin-left: -8px !important;
  }