@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

  .typhead {
    width: 400px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #AAA;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);    
  }
  .typhead .typhead--ul {
      margin: 6px 0;
      padding: 0 14px;
  }
  .typhead .typhead--ul:hover {}
  .typhead .typhead--li {
    list-style: none;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.4;
    cursor: pointer; 
    margin-left: 8px;
  }
.typhead .typhead--li:hover {
  background-color:  #FFFAFF;
}
  .typhead .typhead--li__cap {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    color: #7D2A35;
    cursor: default;
    margin-left: -8px;
  }