/* Refinement and Sort / Item are completely rendered below the fold */
/*  CSS category Base     */ /*  reset margin padding ...  */
.l-grid-refinesort, body, figure, picture, img, figcaption, section, ul, li, input {
margin: 0;
padding: 0;
}
/*  CSS category Layout   */ /*  border display height media width ...  */
.l-grid-refinesort {
align-items: center;
border-bottom: 1px solid #ccc;
border-top: 1px solid #ccc;
display: flex;
flex-flow: row nowrap; /* Shorthand for flex-direction and flex-wrap */
height: 54px;
justify-content: space-between;
margin: 4px auto;
width: 976px;
}
.l-grid-refinesort .l-grid-sort {
align-items: center;
display: flex;
flex-flow: row nowrap; /* Shorthand for flex-direction and flex-wrap */
justify-content: space-between;
}
.l-grid-refinesort .dropdown__a {
background-color: #fff;
border-radius: 3px;
border: 1px solid #d0d0d0;
color: #333;
cursor: pointer;
font-family: sans-serif;
font-size: 12px;
font-weight: 700;
margin: 0 2px 0 4px;
padding: 6px 32px 6px 6px;
position: relative;
text-align: center;
}
.l-grid-refinesort .dropdown__a:hover {
background-color: #ededed;
}
.l-grid-refinesort .dropdown__a::after {
border-color: #333 transparent transparent transparent;
border-style: solid;
border-width: .4375em;
box-sizing: border-box;
content: "";
display: block;
height: 0;
margin-top: -0.15625em;
position: absolute;
right: 1.3125em;
top: 50%;
width: 0;
}
.l-grid-refinesort .dropdown__ul {
background-color: #fff;
list-style: none;
margin-top: 8px;
max-width: 150px;
position: absolute;
text-align: left;
width: 216px;
z-index: 112;
}
.l-grid-refinesort .dropdown__ul li:hover {
background-color: #eee;
}
.l-grid-refinesort .dropdown__ul--a {
background: transparent;
color: #555;
display: block;
font-family: sans-serif;
font-size: 12px;
line-height: 16px;
padding: 6px;
text-decoration: none;
}

@media only screen and (max-width: 47.9375em) {
/* small */
	.l-grid-refinesort .view {
		display: none;
	}
}
@media only screen and (min-width:48em) and (max-width:61.1875em){
/* medium */
}
@media only screen and (max-width:61.1875em){
/* small and medium */
	.l-grid-refinesort {
		margin: 4px 6px;
		width: inherit;
	}
	.l-grid-sort ul:nth-of-type(2n+1) {
		right: 32px;
	}
}
