	/*  CSS category State    */ /*  color display font visibility ...  */

	/*  CSS category Theme    */ /*  color background-color hover ...  */
.crdHeadNav {
	color: #605446;
	background-color: #f9f8f6;
}
.crdHeadNav--li:hover {
	background-color: #fcfcfc;
}
.crdHeadNav--li, .crdHeadNav--li__link, .faq-circle {
	cursor: pointer;
}
.crdHeadNav--input {
	background-color: #fff;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.75);
}
.crdHeadNav--span { color: #605446; }
.crdHeadNav--a {
	text-decoration: none;
}
body[data-brand="lsc"] .crdHeadNav--a { color: #7e2d3e; }
body[data-brand="ltd"] .crdHeadNav--a { color: #2ba6cb; }

.faq-circle {
	background: #bfc2c7;
	border-radius: 50%;
	color: #fff;
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.crdHeadNav--search__go {
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	text-align: center;
}
body[data-brand="lsc"] .crdHeadNav--search__go { background-color: #7e2d3e; }
body[data-brand="ltd"] .crdHeadNav--search__go { background-color: #2ba6cb; }
