
<ltdc-dropdown id="js-dropdown-1--id" class="l-dropdown"><!--  Component Begin  -->
	<nav class="drop-surface drop-surface__init--closed" aria-expanded="false"><!-- branded clickable -->
		<p class="drop-surface__text--label">Team</p><!-- floating label  -->
		<p id="temp" class="drop-surface__text">Select a Team</p><!-- Current selection -->
		<svg class="drop-surface__svg" height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
		<path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
		<path d="M0-.75h24v24H0z" fill="none"/>
		</svg>
	</nav>
	<ul class="drop-container drop-container--closed"><!-- branded max-height overflow scroll -->

		<li class="l-grid" data-skupin="138152-4HAZ-STL"><!-- sku clickable select -->
			<div class="prod__text__cont--top"><!-- grid top -->
				<p class="prod__text--item">Pittsburgh Steelers</p><!-- product -->
			</div>
			<div class="prod__text__cont--bottom"><!-- grid bottom -->
				<p class="prod__text--stock"></p><!-- stock avial -->
			</div>
		</li>

		<li class="l-grid" data-skupin="138152-4HAZ-CWB"><!-- sku clickable select -->
			<div class="prod__text__cont--top"><!-- grid top -->
				<p class="prod__text--item">Dallas Cowboys</p><!-- product -->
			</div>
			<div class="prod__text__cont--bottom"><!-- grid bottom -->
				<p class="prod__text--stock"></p><!-- stock avial -->
			</div>
		</li>

		<li class="l-grid l-grid--disabled" data-skupin="138152-4HAZ-PCK"><!-- sku clickable select -->
			<div class="prod__text__cont--top"><!-- grid top -->
				<p class="prod__text--item">Green Bay Packers</p><!-- product -->
			</div>
			<div class="prod__text__cont--bottom"><!-- grid bottom -->
				<p class="prod__text--stock">out of stock</p><!-- stock avial -->
			</div>
		</li>

		<li class="l-grid" data-skupin="138152-4HAZ-BAR"><!-- sku clickable select -->
			<div class="prod__text__cont--top"><!-- grid top -->
				<p class="prod__text--item">Chicago Bears</p><!-- product -->
			</div>
			<div class="prod__text__cont--bottom"><!-- grid bottom -->
				<p class="prod__text--stock"></p><!-- stock avial -->
			</div>
		</li>

		<li class="l-grid" data-skupin="138152-4HAZ-BRN"><!-- sku clickable select -->
			<div class="prod__text__cont--top"><!-- grid top -->
				<p class="prod__text--item">Denver Broncos</p><!-- product -->
			</div>
			<div class="prod__text__cont--bottom"><!-- grid bottom -->
				<p class="prod__text--stock"></p><!-- stock avial -->
			</div>
		</li>

		<li class="l-grid" data-skupin="138152-4HAZ-BRW"><!-- sku clickable select -->
			<div class="prod__text__cont--top"><!-- grid top -->
				<p class="prod__text--item">Cleveland Browns</p><!-- product -->
			</div>
			<div class="prod__text__cont--bottom"><!-- grid bottom -->
				<p class="prod__text--stock"></p><!-- stock avial -->
			</div>
		</li>

		<li class="l-grid" data-skupin="138152-4HAZ-CLT"><!-- sku clickable select -->
			<div class="prod__text__cont--top"><!-- grid top -->
				<p class="prod__text--item">Indianapolis Colts</p><!-- product -->
			</div>
			<div class="prod__text__cont--bottom"><!-- grid bottom -->
				<p class="prod__text--stock"></p><!-- stock avial -->
			</div>
		</li>

	</ul>
</ltdc-dropdown><!--  Component End  -->