/*  CSS category Theme    */ /*  color background hover ...  */
	body[data-brand="lsc"] .l-dropdown .l-grid:hover { background-color: #9c4a62; }
	body[data-brand="ltd"] .l-dropdown .l-grid:hover { background-color: #2aa6ca; }

	body[data-brand="lsc"] .l-dropdown .l-grid--disabled:hover { background-color: #fff; }
	body[data-brand="ltd"] .l-dropdown .l-grid--disabled:hover { background-color: #fff; }

	body[data-brand="lsc"] .l-dropdown .drop-surface__init--opened { border: solid 1px #9c4a62; }
	body[data-brand="ltd"] .l-dropdown .drop-surface__init--opened { border: solid 1px #2aa6ca; }
	body[data-brand="lsc"] .l-dropdown .drop-surface__select--opened { border: solid 1px #9c4a62; }
	body[data-brand="ltd"] .l-dropdown .drop-surface__select--opened { border: solid 1px #2aa6ca; }

	body[data-brand="lsc"] .l-dropdown .drop-container--opened { border: solid 1px #9c4a62; border-top: none;}
	body[data-brand="ltd"] .l-dropdown .drop-container--opened { border: solid 1px #2aa6ca; border-top: none;}

	body[data-brand="lsc"] .l-dropdown .drop-surface__svg { fill: #7e2d3e; }
	body[data-brand="ltd"] .l-dropdown .drop-surface__svg { fill: #297fb8; }