	/*  CSS category State    */ /*  color display font visibility ...  */
  body[data-brand="lsc"] .l-tabmutex .tabmutex-tab { border-top: 1px solid #7e2d3e; border-right: 1px solid #7e2d3e; border-left: 1px solid #7e2d3e;}
  body[data-brand="ltd"] .l-tabmutex .tabmutex-tab { border-top: 1px solid #297fb8; border-right: 1px solid #297fb8; border-left: 1px solid #297fb8; }

  body[data-brand="lsc"] .l-tabmutex .tabmutex-tablist { border-bottom: 1px solid #7e2d3e; }
  body[data-brand="ltd"] .l-tabmutex .tabmutex-tablist { border-bottom: 1px solid #297fb8; }

  body[data-brand="lsc"] .l-tabmutex .tabmutex-tab__link { color: #7e2d3e; }
  body[data-brand="ltd"] .l-tabmutex .tabmutex-tab__link { color: #297fb8; }
