/*  CSS category Base     */ /*  reset margin padding ...  */
/* secbnr-shop     | The shop our site button on the left and a responsive imaage on the left  */
/* secbnr-prodcard | A product card with QV on the left and Text on the right  */
/* secbnr-carousel | Vertical carousel  */

.l-secondbanr{}
.l-secondbanr .secbnr-shop .l-grid{
	align-items: flex-start;
	display: flex;
	flex-flow: row nowrap; /* Shorthand for flex-direction and flex-wrap */
	justify-content: space-between;
	margin: 0 auto;
	padding: 24px 0;
	width: 980px;
}
@media only screen and (min-width: 61.25em){
	body[data-columns="2"] .l-secondbanr .secbnr-shop .l-grid { width: 780px; justify-content: center; width: inherit;}
	body[data-columns="2"] .l-secondbanr .secbnr-shop .secondbanr__left { display: none; }
}

.l-secondbanr .secbnr-shop .secondbanr__left {
	flex-basis: 18.2%;
}
.l-secondbanr .secbnr-shop .secondbanr__right {
	flex-basis: 20%;
	padding: 0 8px;
}

.l-secondbanr .secbnr-shop .secondbanr__btn {
	border-radius: 3px;
	border: 0;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 200;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: background-color 300ms ease-out;
	vertical-align: middle;
	width: 100%;
}
.l-secondbanr .secbnr-shop .secondbanr__text {
	font-family: sans-serif;
	font-size: 12px;
	margin-top: 8px;
}
.l-secondbanr .secbnr-shop .cdn__viewport--sm{}
@media only screen and (max-width: 47.9375em) {
	/* small */
	.l-secondbanr .secbnr-shop .secondbanr__left {
		display: none;
	}
	.l-secondbanr .secbnr-shop .l-grid{
		display: block;
		width: inherit;
	}
	.l-secondbanr .secbnr-shop .secondbanr__right img {
		max-width: 100%;
	}
}
@media only screen and (min-width:48em) and (max-width:61.1875em){
	/* medium */
	.l-secondbanr .secbnr-shop .secondbanr__left {
		display: none;
	}
	.l-secondbanr .secbnr-shop .l-grid{
		justify-content: center;
		width: inherit;
	}
}